.App {
  text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

#title{

  font-size: 145px;
  text-align: center !important;
  color: #061283;
  margin-top: 20vh;
  font-weight: 900;
}



.scrolled{
  border-bottom: 2px solid #ebebeb;
  width: auto !important;
}

.form{
  border: 2px solid #061283;
  border-radius: 20px;
  width: 60%;
  padding: 20px;
}

.auto{
  width: 100% !important;
  height: 80px !important;
  z-index: 99999999 !important;
}

.hero-font{
  font-family: 'Courier Prime', monospace;
}
#portfolio{
  color: #061283;
}

.label{
  width:90%;
  text-align:left;
  font-weight: 600;
}
.input{
  width: 90%;
  border: 2px solid #E1EDFB !important;
  border-radius: 10px !important;
}
.image-radius{
    border-radius: 15px;
}

.border{
  border: 3px solid black;
}

.image{
  text-align: center !important;
  margin-top: 20vh;
  border-radius: 50pc 50pc 100px 100px;
  background: #FCCD22;
  padding-top: 40px;
}

.div-container{
  width: 45%;
  padding: 15px 15px;
  border: 2px solid #E1EDFB;
  text-align: left;
  border-radius: 15px;
  margin: 20px;
}

.main-button{
background: #061283 !important;
border: none !important;
border-radius: 20px !important;
/* margin-top: 10px; */
margin: auto !important;

}

.row-about{
  margin: auto !important;
  height: 80vh !important;
}

.font-color{
  color: #FCCD22;
}

.send{
  color: white;
  font-weight: 700;
  width: 70px !important;
}

.home-button{
  background: #FCCD22 !important;
  border: none !important;
  border-radius: 23px !important;
  margin-top: 10px;
  margin-right: 2px;

  }
  .rounded{
    border-radius: 100%;
    text-decoration: none;
    text-align: center !important;
    padding: 2px !important;
  }
  .margin-right{
    margin-right: 10px !important;
  }

.display-flex{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: space-around;

}

.font-weight{
  font-weight: 900 !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media only screen and (max-width: 600px) {
  #title {
    font-size: 10vh;
    margin-top: 90px;
    margin-bottom: 20px;
  }
  
.div-container{
  width: 85%;
}
.form{
  width:85%;
}
  /* *{
    border:2px solid black;
  } */

  .auto{
    width: 100% !important;
  }


}

@media only screen and (min-width: 600px) and (max-width: 767px) {
  .div-container{
    width: 88%;
  }
  .form{
    width:88%;
  }
  #title {
    font-size: 10vh;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .div-container{
    width: 88%;
  }
  .form{
    width:88%;
  }
  #title {
    font-size: 8vh;
  }

}

@media only screen and (min-width: 992px) and (max-width: 1024px) {

  #title {
    font-size: 11vh;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1199px) {

  #title {
    font-size: 126px;
  }
}